.settings-top-widget .stat-info.ttl-tickets .student-ticket-view h3.ttl-tickets {
    color: #191970;
    margin-top: 0;
}

.settings-top-widget .stat-info.ttl-tickets .student-ticket-view h3.open-tickets  {
    color: #392C7D;
    margin-top: 0;
}
.settings-top-widget .stat-info.ttl-tickets .student-ticket-view h3.close-tickets {
    color: #159F46;
    margin-top: 0;
}
.settings-top-widget .stat-info.ttl-tickets .student-ticket-view h3.medium-tickets {
    color: #FFB54A;
    margin-top: 0;
}

.settings-top-widget .stat-info.ttl-tickets .student-ticket-view h3.blue-tickets  {
    color: #1D9CFD;
    margin-top: 0;
}
.settings-top-widget .stat-info.ttl-tickets .student-ticket-view h3.ttl-tickets {
    color: #191970;
    margin-top: 0;
}
