<!-- Main Wrapper -->
<div class="main-wrapper log-wrap">

    <div class="row">

        <!-- Login Banner -->
				<div class="col-md-6 login-bg">
                    <div class="row w-100">
                        <div class="col-md-12">
                            <owl-carousel-o [options]="welcomeLoginOwlOptions">
                                <ng-container *ngFor="let slide of welcomeLogin">
                                    <ng-template carouselSlide>
                                        <div class="welcome-login">
                                            <div class="login-banner">
                                                <img [src]="slide.img" class="img-fluid" alt="Logo">
                                            </div>
                                            <div class="mentor-course text-center">
                                                <h2>{{slide.content1}}<br>{{slide.content2}}</h2>
                                                <p>{{slide.paragraph}}</p>
                                            </div>
                                        </div>
                                    </ng-template>
                                </ng-container>
                            </owl-carousel-o>
                        </div>

                    </div>
				</div>
				<!-- /Login Banner -->

        <div class="col-md-6 login-wrap-bg">

          <!-- ... Existing HTML code ... -->

<!-- Login -->
<div class="login-wrapper">
    <div class="loginbox">
      <div class="w-100">
        <div class="img-logo">
          <img src="assets/img/BIZMATCH2.png" class="img-fluid" alt="Logo">
          <div class="back-home">
            <a [routerLink]="routes.home">Back to Home</a>
          </div>
        </div>
        <h1>Sign into Your Account</h1>
        <div class="form-group">
          <label class="form-control-label">Email</label>
          <input [(ngModel)]="email" type="email" class="form-control" placeholder="Enter your email address">
        </div>
        <div class="form-group">
          <label class="form-control-label">Password</label>
          <div class="pass-group">
            <input [type]="passwordType" class="form-control pass-input" placeholder="Enter your password" [(ngModel)]="password">
            <span (click)="togglePasswordVisibility()">
              <i-feather [name]="passwordIcon" class="toggle-password"></i-feather>
            </span>
          </div>
        </div>
        <div class="forgot">
          <span><a class="forgot-link" [routerLink]="routes.forgot_password">Forgot Password ?</a></span>
        </div>
        <div class="form-check remember-me">
          <label class="form-check-label mb-0"> Remember me
            <input class="form-check-input input-box" type="checkbox" [(ngModel)]="rememberMe" name="rememberMe">
          </label>
        </div>
        <div class="d-grid">
            <button class="btn btn-primary btn-start" type="button" (click)="doLogin()">Sign In</button>

        </div>
      </div>
    </div>
    <div class="google-bg text-center">
       
      <p class="mb-0">New User ? <a [routerLink]="routes.register">Create an Account</a></p>
    </div>
  </div>
  <!-- /Login -->
  
  

    </div>

</div>
<!-- /Main Wrapper -->
