<div class="tak-instruct-group">
    <div class="row">
        <div class="col-md-12">
            <div class="settings-widget">
                <div class="settings-inner-blk p-0">
                    <div class="sell-course-head comman-space">
                        <h3>Payout Method</h3>
                        <p>Order Dashboard is a quick overview of all current orders.</p>
                    </div>
                </div>
            </div>
            <div class="settings-widget">
                <div class="settings-inner-blk p-0">
                    <div class="comman-space pb-0">
                        <div class="sell-course-head withdraw-history-head border-bottom-0">
                            <h3>Withdraw History</h3>
                        </div>
                        <div class="instruct-search-blk mb-0">
                            <div class="show-filter all-select-blk">
                                <form action="#">
                                    <div class="row gx-2 align-items-center">
                                        <div class="col-md-6 col-lg-3 col-item">
                                            <div class="form-group select-form mb-0">
                                                <mat-select class="form-select select"  [(value)]="selected">
                                                    <mat-option value="option1">30 days</mat-option>
                                                    <mat-option value="option1">20 days</mat-option>
                                                    <mat-option value="option1">10 days</mat-option>

                                                </mat-select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-3 col-item">
                                            <div class="form-group select-form mb-0">

                                                <mat-select class="form-select select"  [(value)]="selected2">
                                                    <mat-option value="option1">Oct 2020</mat-option>
                                                    <mat-option value="option1">Nov 2020</mat-option>
                                                    <mat-option value="option1">Jan 2020</mat-option>

                                                </mat-select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-3 col-item">
                                            <div class="form-group select-form mb-0">
                                                <mat-select class="form-select select"  [(value)]="selected3">
                                                    <mat-option value="option1">Transaction Type</mat-option>
                                                    <mat-option value="option1">Cash</mat-option>
                                                    <mat-option value="option1">Card</mat-option>
                                                    <mat-option value="option1">Online</mat-option>
                                                </mat-select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-3 col-item">
                                            <div class="download-widra">
                                                <a href="javascript:;"><i-feather name="download" class="feather-download"></i-feather></a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="comman-space pb-0">
                        <div class="settings-referral-blk course-instruct-blk  table-responsive">

                            <!-- Instructor Users-->
                            <table class="table table-nowrap mb-0">
                                <thead>
                                    <tr>
                                        <th>
                                            <div class="form-check instruct-check-list">
                                              <input class="form-check-input" type="checkbox"  name="option1"  >
                                            </div>
                                        </th>
                                        <th>ID</th>
                                        <th>DATE</th>
                                        <th>STATUS</th>
                                        <th >AMOUNT</th>
                                        <th >METHOD	</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of withdrawHistory">
                                        <td>
                                            <div class="form-check instruct-check-list">
                                              <input class="form-check-input" type="checkbox"  name="option1"  >
                                            </div>
                                        </td>
                                        <td><a [routerLink]="routes.view_invoice_student">{{data.id}}</a></td>
                                        <td>{{data.date}}</td>
                                        <td><span [ngClass]="{'info-low': data.status === 'Paid', 'info-medium' : data.status === 'Pending', 'info-high' : data.status === 'Cancel' }" class="badge info-low">{{data.status}}</span></td>
                                        <td>{{data.amount}}</td>
                                        <td>{{data.method}}</td>
                                        <td><a href="javascript:;"><i-feather name="more-vertical" class="feather-more-vertical"></i-feather></a></td>
                                    </tr>
                                </tbody>
                              </table>
                            <!-- /Instructor List-->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>