<!-- Student Header -->
<div class="course-student-header">
    <div class="container">
        <div class="student-group">
            <div class="course-group ">
                <div class="course-group-img d-flex">
                    <a href="javascript:;"><img src="assets/img/user/user11.jpg" alt="" class="img-fluid"></a>
                    <div class="d-flex align-items-center">
                        <div class="course-name">
                            <h4><a href="javascript:;">Rolands R</a><span>Beginner</span></h4>
                            <p>Student</p>
                        </div>
                    </div>
                </div>
                <div class="course-share ">
                    <a href="javascript:;" class="btn btn-primary">Account Settings</a>
                </div>
            </div>
        </div>
        <div class="my-student-list">
            <ul>
                <li><a [routerLink]="routes.deposit_student_dashboard">Dashboard</a></li>
                <li><a [routerLink]="routes.course_student">Courses</a></li>
                <li><a [routerLink]="routes.page_course_course_wishlist">Wishlists</a></li>
                <li><a [routerLink]="routes.page_course_message">Messages</a></li>
                <li><a [routerLink]="routes.page_purchase_history">Purchase history</a></li>
                <li><a class="active" [routerLink]="routes.deposit_student">Deposit</a></li>
                <li class="mb-0"><a [routerLink]="routes.transactions_student">Transactions</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- /Student Header -->

<!--Dashbord Student -->
<div class="page-content">
    <div class="container">
        <div class="row">

            <!-- Profile Details -->
            <div class="col-xl-12 col-md-12">
                <div class="settings-widget">
                    <div class="settings-inner-blk p-0">
                        <div class="comman-space pb-0">
                            <div class="filter-grp ticket-grp d-flex align-items-center justify-content-between">
                                <div>
                                    <h3>Deposit History</h3>
                                </div>
                                <div class="ticket-btn-grp">
                                    <a href="javascript:;" data-bs-toggle="modal"
                                        data-bs-target="#depositMethod">Deposit Money</a>
                                </div>
                            </div>
                            <div class="settings-tickets-blk table-responsive">

                                <!-- Referred Users-->
                                <table class="table table-nowrap mb-0">
                                    <thead>
                                        <tr>
                                            <th>Referred ID</th>
                                            <th>Gateway</th>
                                            <th>Amount</th>
                                            <th>Time</th>
                                            <th>Status</th>
                                            <th>&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let data of depositStudent">
                                            <td><a href="javascript:;">{{data.referredId}}</a></td>
                                            <td>{{data.gateway}} </td>
                                            <td><span class="text-success">{{data.amount}}</span></td>
                                            <td>{{data.time}} </td>
                                            <td><span class="badge info-low">{{data.status}}</span></td>
                                            <td><a href="javascript:;" class="btn-style"><i-feather
                                                        name="eye"></i-feather></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- /Referred Users-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Profile Details -->

        </div>
    </div>
</div>
<!-- /Dashbord Student -->
