<div class="row">
  <div class="col-md-12">
      <div class="settings-widget">
          <div class="settings-inner-blk p-0">
              <div class="sell-course-head comman-space">
                  <h3>Orders</h3>
                  <p>Order Dashboard is a quick overview of all current orders.</p>
              </div>
              <div class="comman-space pb-0">
                  <div class="settings-tickets-blk course-instruct-blk table-responsive">

                      <!-- Referred Users-->
                      <table class="table table-nowrap mb-0">
                          <thead>
                            <tr>
                              <th>COURSES</th>
                              <th>SALES</th>
                              <th>INVOICE</th>
                              <th>DATE</th>
                              <th>METHOD</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let data of orders">
                                  <td class="instruct-orders-info">
                                      <p><a [routerLink]="routes.page_course_details">{{data.courses}}</a></p>
                                  </td>
                                  <td>{{data.sales}}</td>
                                  <td>{{data.invoice}}</td>
                                  <td>{{data.date}}</td>
                                  <td>{{data.method}}</td>
                                  <td><a href="javascript:;"><i-feather name="more-vertical"></i-feather></a></td>
                              </tr>
                          </tbody>
                        </table>
                      <!-- /Referred Users-->

                  </div>
              </div>
          </div>
      </div>
  </div>
</div>