<!-- Footer -->
<footer class="footer footer-five">
  <!-- Footer Top -->
  <div class="footer-top-five">
    <div class="container">
      <div class="footer-five-left">
        <img src="assets/img/bg/footer-left.svg" alt="" />
      </div>

      <div class="row">
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
          <!-- Footer Widget -->
          <div class="footer-contact footer-menu-five">
            <h2 class="footer-title footer-title-five">Get in touch</h2>
            <div class="footer-contact-info">
              <div class="footer-address">
                <span><i-feather name="map-pin"></i-feather></span>
                <p>
                  1540 Ariana, Tunis<br />
                  Tunisia
                </p>
              </div>
              <p class="mb-0">
                <span class="phone-icon"
                  ><i class="fa-solid fa-phone-volume"></i
                ></span>
                +2160942614065
              </p>
            </div>
          </div>
          <!-- /Footer Widget -->
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
          <h2 class="footer-title footer-title-five">Contact BIZMATCH</h2>
          <!-- Footer Widget -->
          <div class="footer-widget-five">
            <div class="footer-news-five">
              <form (submit)="submitForm($event)">
                <div class="form-group mb-0">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter Your Email Address"
                    [(ngModel)]="email"
                  />
                  <p></p>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter Your message to the admin"
                    [(ngModel)]="message"
                  />
                  <button type="submit" class="btn btn-one">Send</button>
                </div>
              </form>
            </div>
          </div>
          <!-- /Footer Widget -->
        </div>
      </div>

      <div class="footer-five-right">
        <img src="assets/img/bg/footer-right.svg" alt="" />
      </div>
    </div>
  </div>
  <!-- /Footer Top -->

  <!-- Footer Bottom -->
  <div class="footer-bottom footer-bottom-five">
    <div class="container">
      <!-- Copyright -->
      <div class="copyright-five">
        <div class="row align-items-center">
          <div class="col-md-4">
            <div class="footer-logo-five">
              <a href="index.html">
                <img
                  src="assets/img/logo/logo-five.svg"
                  class="img-fluid"
                  alt="Footer Logo"
                />
              </a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="copyright-text">
              <p>&copy; {{ currentYear }} BIZMATCH. All rights reserved.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="social-icon-five">
              <ul class="nav">
                <li>
                  <a href="#" target="_blank" class="twitter-icon">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="#" target="_blank" class="linked-icon">
                    <i class="fab fa-linkedin-in"></i>
                  </a>
                </li>
                <li>
                  <a href="#" target="_blank" class="facebook-icon">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li>
                  <a href="#" target="_blank" class="youtube-icon">
                    <i class="fab fa-youtube"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- /Copyright -->
    </div>
  </div>
  <!-- /Footer Bottom -->
</footer>
<!-- /Footer -->
