<!-- Student Header -->
<div class="course-student-header">
    <div class="container">
        <div class="student-group">
            <div class="course-group ">
                <div class="course-group-img d-flex">
                   
                    <div class="d-flex align-items-center">
                        <div class="course-name">
                            <h4><a [routerLink]="routes.students_profile">{{user.email}}</a><span>{{user.job}}</span></h4>
                            <p>{{user.job}}</p>
                        </div>
                    </div>
                </div>
                <div class="course-share ">
                    <a [routerLink]="'/auth/new-password'" class="btn btn-primary">Reset Password</a>
                </div>
            </div>
        </div>
        <div class="my-student-list">
            <ul>
                <li><a class="active" [routerLink]="routes.course_student">Calendar</a></li>
                <li><a [routerLink]="routes.page_course_course_wishlist">Investors</a></li>
                <li><a [routerLink]="routes.page_course_message"> Claims</a></li>
               
            </ul>
        </div>
    </div>
</div>
<!-- /Student Header -->

<!-- My Course -->
<section class="course-content">
    <div class="container">
        <div class="student-widget">
            <div class="student-widget-group">
                <div class="row">
                    <div class="col-lg-12">

                        <!-- Filter -->
                        <div class="showing-list">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="show-filter choose-search-blk">
                                        <form action="#">
                                            <div class="mycourse-student align-items-center">
                                                <div class="student-search">
                                                    <div class=" search-group">
                                                        <i-feather name="search"></i-feather>
                                                        <input type="text" class="form-control"
                                                            placeholder="Search our courses">
                                                    </div>
                                                </div>
                                                <div class="student-filter">
                                                    <div class="form-group select-form mb-0">
                                                        <select class="form-select select" name="sellist1">
                                                            <option>Newly published </option>
                                                            <option>Angular</option>
                                                            <option>React</option>
                                                            <option>Node</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Filter -->
         
<!-- calendar.component.html -->
<div id="calendar"><!-- calendar.component.html -->
   <!-- course-student.component.html -->
<full-calendar *ngIf="calendarOptions" [options]="calendarOptions"></full-calendar>

    </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /My Course -->
