<!-- Main Wrapper -->
<div class="main-wrapper log-wrap">
    <div class="row">
      <!-- Login Banner -->
      <div class="col-md-6 login-bg">
        <div class="row w-100">
          <div class="col-md-12">
            <owl-carousel-o [options]="registerOwlOptions">
              <ng-container *ngFor="let slide of register">
                <ng-template carouselSlide>
                  <div class="welcome-login">
                    <div class="login-banner">
                      <img [src]="slide.img" class="img-fluid" alt="Logo" />
                    </div>
                    <div class="mentor-course text-center">
                      <h2>{{ slide.content1 }}<br />{{ slide.content2 }}</h2>
                      <p>{{ slide.paragraph }}</p>
                    </div>
                  </div>
                </ng-template>
              </ng-container>
            </owl-carousel-o>
          </div>
        </div>
      </div>
      <!-- /Login Banner -->
  
      <div class="col-md-6 login-wrap-bg">
        <!-- Registration Form -->
        <div class="login-wrapper">
          <div class="loginbox">
            <div class="img-logo">
              <img src="assets/img/BIZMATCH2.png" class="img-fluid" alt="Logo" />
              <div class="back-home">
                <a [routerLink]="routes.home">Back to Home</a>
              </div>
            </div>
            <h1>Sign up</h1>
  
            <!-- Email -->
            <div class="form-group">
              <label class="form-control-label">Email</label>
              <input type="text" class="form-control" placeholder="Enter your email address" [(ngModel)]="registerForm.email" />
            </div>
  
            <!-- First Name -->
            <div class="form-group">
              <label class="form-control-label">First Name</label>
              <input type="text" class="form-control" placeholder="Enter your First Name" [(ngModel)]="registerForm.firstName" />
            </div>
  
            <!-- Last Name -->
            <div class="form-group">
              <label class="form-control-label">Last Name</label>
              <input type="text" class="form-control" placeholder="Enter your Last Name" [(ngModel)]="registerForm.lastName" />
            </div>
  
            <!-- Telephone -->
            <div class="form-group">
              <label class="form-control-label">Telephone</label>
              <input type="text" class="form-control" placeholder="Enter your Telephone" [(ngModel)]="registerForm.tel" />
            </div>
  
            <!-- Password -->
            <div class="form-group">
              <label class="form-control-label">Password</label>
              <div class="pass-group" id="passwordInput">
                <input [type]="password" class="form-control pass-input" placeholder="Enter your password" [(ngModel)]="registerForm.password" (input)="onChangePassword(registerForm.password)" />
                <span><i-feather name="eye" class="toggle-password feather-eye" (click)="onClick()" *ngIf="show"></i-feather></span>
                <span><i-feather name="eye-off" class="toggle-password feather-eye-off" (click)="onClick()" *ngIf="!show"></i-feather></span>
              </div>
              <!-- Password Strength Indicator -->
              <div class="password-strength" [ngClass]="{
                'poor-active': passwordResponce.passwordResponceKey === '0',
                'avg-active': passwordResponce.passwordResponceKey === '1',
                'strong-active': passwordResponce.passwordResponceKey === '2',
                'heavy-active': passwordResponce.passwordResponceKey === '3'
              }" id="passwordStrength">
                <span id="poor" class="active"></span>
                <span id="weak" class="active"></span>
                <span id="strong" class="active"></span>
                <span id="heavy" class="active"></span>
              </div>
              <!-- Password Info -->
              <div id="passwordInfo" [ngClass]="{
                weak: passwordResponce.passwordResponceKey === '0',
                average: passwordResponce.passwordResponceKey === '1',
                good: passwordResponce.passwordResponceKey === '2',
                great: passwordResponce.passwordResponceKey === '3'
              }">
                <img [src]="passwordResponce.passwordResponceImage" />
                {{ passwordResponce.passwordResponceText }}
              </div>
            </div>
  
            <!-- Favorite Pet -->
            <div class="form-group">
              <label class="form-control-label">Favorite Pet</label>
              <input type="text" class="form-control" placeholder="Enter your Favorite Pet" [(ngModel)]="registerForm.favoritePet" />
            </div>
  
            <!-- Best Friend -->
            <div class="form-group">
              <label class="form-control-label">Best Friend</label>
              <input type="text" class="form-control" placeholder="Enter your Best Friend" [(ngModel)]="registerForm.bestFriend" />
            </div>
  
            <!-- Checkbox for Representant Entreprise -->
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" [(ngModel)]="isRepresentantEntreprise">
                Representant Entreprise
              </label>
            </div>
  
            <!-- Dropdown for selecting Entreprise -->
            <div *ngIf="isRepresentantEntreprise">
              <label>Choose Entreprise</label>
              <select class="form-control" [(ngModel)]="selectedEntreprise">
                <option *ngFor="let entreprise of entrepriseList" [value]="entreprise.name">{{ entreprise.name }}</option>
              </select>
            </div>
  
            <!-- Radio Buttons for Guest -->
            <div class="form-check">
              <label class="form-check-label">Guest</label>
              <div *ngFor="let userType of userTypes">
                <div class="form-check">
                  <input class="form-check-input" type="radio" [(ngModel)]="selectedUserType" [value]="userType">
                  {{ userType }}
                </div>
              </div>
            </div>
  
            <!-- Agreement Checkbox -->
            <div class="form-check remember-me">
              <label class="form-check-label mb-0">
                <input class="form-check-input input-box-auth" type="checkbox" name="agreeTerms" />
                I agree to the
                <a [routerLink]="routes.page_term_condition">Terms of Service</a> and
                <a [routerLink]="routes.page_privacy_policy">Privacy Policy.</a>
              </label>
            </div>
  
            <!-- Submit Button -->
            <div class="d-grid">
              <button class="btn btn-primary btn-start" type="submit" (click)="createUser()">Create Account</button>
            </div>
          </div>
  
          <!-- Google Sign-in -->
          <div class="google-bg text-center">
            
            
            <p class="mb-0">
              Already have an account? <a [routerLink]="routes.login">Sign in</a>
            </p>
          </div>
        </div>
        <!-- /Registration Form -->
      </div>
    </div>
  </div>
  <!-- /Main Wrapper -->
  