<!-- Main Wrapper -->
<div class="main-wrapper">

    <div class="row">

        <!-- Login Banner -->
        <div class="col-md-6 login-bg">
            <div class="row w-100">
                <div class="col-md-12">
                    <owl-carousel-o [options]="newPasswordOwlOptions">
                        <ng-container *ngFor="let slide of newPassword">
                            <ng-template carouselSlide>
                                <div class="welcome-login">
                                    <div class="login-banner">
                                        <img [src]="slide.img" class="img-fluid" alt="Logo">
                                    </div>
                                    <div class="mentor-course text-center">
                                        <h2>{{slide.content1}}<br>{{slide.content2}}</h2>
                                        <p>{{slide.paragraph}}</p>
                                    </div>
                                </div>
                            </ng-template>
                        </ng-container>
                    </owl-carousel-o>
                </div>

            </div>
        </div>
        <!-- /Login Banner -->

        <div class="col-md-6 login-wrap-bg">

            <!-- Login -->
            <div class="login-wrapper">
                <div class="loginbox">
                    <div class="img-logo">
                        <img src="assets/img/BIZMATCH2.png" class="img-fluid" alt="Logo">
                        <div class="back-home">
                            <a [routerLink]="routes.home">Back to Home</a>
                        </div>
                    </div>
                    <h1>Setup New Password</h1>
                    <div class="form-group">
                        <label class="form-control-label">Password</label>
                        <div class="pass-group" id="passwordInput">
                            <input [type]="password" class="form-control pass-input" placeholder="Enter your password"
                                [(ngModel)]="registerForm.password"
                                (input)="onChangePassword(registerForm.password,'Password')">
                            <span><i-feather name="eye" class="toggle-password feather-eye"
                                    (click)="onClick('password')" *ngIf="show1"></i-feather></span>
                            <span><i-feather name="eye-off" class="toggle-password feather-eye-off"
                                    (click)="onClick('password')" *ngIf="!show1"></i-feather></span>
                            <span class="pass-checked"
                                [ngClass]="{'active' : passwordResponce.passwordResponceKey === '3' }"><i-feather
                                    name="check"></i-feather></span>
                        </div>
                        <div class="password-strength"
                            [ngClass]="{'poor-active': passwordResponce.passwordResponceKey === '0', 'avg-active' : passwordResponce.passwordResponceKey === '1', 'strong-active' : passwordResponce.passwordResponceKey === '2', 'heavy-active' : passwordResponce.passwordResponceKey === '3' }"
                            id="passwordStrength">
                            <span id="poor" class="active"></span>
                            <span id="weak" class="active"></span>
                            <span id="strong" class="active"></span>
                            <span id="heavy" class="active"></span>
                        </div>
                        <div id="passwordInfo"
                            [ngClass]="{'weak': passwordResponce.passwordResponceKey === '0', 'average' : passwordResponce.passwordResponceKey === '1', 'good' : passwordResponce.passwordResponceKey === '2', 'great' : passwordResponce.passwordResponceKey === '3' }">
                            <img [src]="passwordResponce.passwordResponceImage">
                            {{passwordResponce.passwordResponceText}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Confirm Password</label>
                        <div class="pass-group" id="passwordInputs">
                            <input [type]="confirmPassword" class="form-control pass-input"
                                placeholder="Enter your password" [(ngModel)]="registerForm.confirmPassword"
                                (input)="onChangePassword(registerForm.confirmPassword,'confirmPassword')">
                            <span><i-feather name="eye" class="toggle-password feather-eye"
                                    (click)="onClick('confirmPassword')" *ngIf="show2"></i-feather></span>
                            <span><i-feather name="eye-off" class="toggle-password feather-eye-off"
                                    (click)="onClick('confirmPassword')" *ngIf="!show2"></i-feather></span>
                            <span class="pass-checked"
                                [ngClass]="{'active' : confirmPasswordResponce.passwordResponceKey === '3' }"><i-feather
                                    name="check"></i-feather></span>
                        </div>
                        <div class="password-strength"
                            [ngClass]="{'poor-active': confirmPasswordResponce.passwordResponceKey === '0', 'avg-active' : confirmPasswordResponce.passwordResponceKey === '1', 'strong-active' : confirmPasswordResponce.passwordResponceKey === '2', 'heavy-active' : confirmPasswordResponce.passwordResponceKey === '3' }"
                            id="passwordStrengths">
                            <span id="poors" class="active"></span>
                            <span id="weaks" class="active"></span>
                            <span id="strongs" class="active"></span>
                            <span id="heavys" class="active"></span>
                        </div>
                        <div id="passwordInfos"
                            [ngClass]="{'weak': confirmPasswordResponce.passwordResponceKey === '0', 'average' : confirmPasswordResponce.passwordResponceKey === '1', 'good' : confirmPasswordResponce.passwordResponceKey === '2', 'great' : confirmPasswordResponce.passwordResponceKey === '3' }">
                            <img [src]="confirmPasswordResponce.passwordResponceImage">
                            {{confirmPasswordResponce.passwordResponceText}}
                        </div>
                    </div>
                    <div class="form-check remember-me">
                        <label class="form-check-label mb-0">
                            <input class="form-check-input input-box" type="checkbox" name="remember"> I agree to the <a
                                href="javascript:;">Terms of Service</a> and <a
                                href="javascript:;">Privacy Policy.</a>
                        </label>
                    </div>
                    <div class="d-grid">
                        <button class="btn btn-primary btn-start" (click)="reset()" >Reset Password</button>
                    </div>
                    <div class="reset-account">
                        <p class="mb-0">Already have an account? <a [routerLink]="routes.login">Sign in</a></p>
                    </div>
                </div>
            </div>
            <!-- /Login -->

        </div>

    </div>

</div>
<!-- /Main Wrapper -->
