
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@import "~leaflet/dist/leaflet.css";
/* Exemple de chemin vers une icône dans le dossier de Leaflet */
.my-custom-marker {
  background-image: url('../node_modules/leaflet/dist/images/marker-icon.png');
  background-size: 10px 15px;
  /* Autres styles pour personnaliser l'icône */
}
/* Ajouter la classe blue-icon pour changer la couleur de l'icône en bleu */
.blue-icon {
  color: blue;
  transform: scale(5);
}


.map-enterprises {
  position: absolute;
  top: 0;
  right: 0;
}
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$dreams-lms-primary: mat.define-palette(mat.$indigo-palette);
$dreams-lms-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$dreams-lms-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$dreams-lms-theme: mat.define-light-theme((
  color: (
    primary: $dreams-lms-primary,
    accent: $dreams-lms-accent,
    warn: $dreams-lms-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($dreams-lms-theme);

.hide-dropdown {
display: none;
}
.show-dropdown {
    display: block;
}
// @import "swiper/scss/effect-coverflow";
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";
@import "bootstrap/scss/bootstrap";
@import "assets/components/app"
