
    .mat-select-arrow {
        width: 0;
        height: 0;
        border-left: 2px solid rgba(0,0,0,1) !important;
        border-bottom: 2px solid rgba(0,0,0,1);
        border-top: 2px solid rgba(0,0,0,0) !important;
        border-right: 0px solid rgba(0,0,0,0) !important;
        border-top: 0px solid rgba(0,0,0,0) !important; 
        padding: 3px;
        margin: 0 14px !important;
        transform: rotate(-45deg);
    }

    .mat-select-value-text {
        font-size: 14px;
        color: #444;
    }
    .mat-select-panel {

        .mat-option {
            height: 2em !important;
            &:hover{
                &:not(.mat-option-disabled){
                    background: #FFDEDA;
                    color: #050505;
                }
            }
            &.mat-selected{
                &:hover {
                    background: #FFDEDA;
                }
            }
        }
    }
    .drop-detail {
        .mat-select-arrow-wrapper  {
           display: none;
        }
    }
    .drop-detail {
        &.home-arrow{
            .mat-select-arrow-wrapper  {
                display: flex;
             }
        }
    }
    .drop-detail-five {
        height: 50px;
        .mat-select-trigger {
            text-align: center;
            .mat-select-value-text {
                font-size: 18px;
            }
        }
        .mat-select-arrow-wrapper  {
            display: none;
         }
         .form-select {
            border: none;
            background-color: transparent;
            display: flex;
            align-items: center;
         }
    }
    .comman-space {
        .mat-select-arrow-wrapper  {
            display: none;
         }
    }
    .country-select {
        .mat-select-arrow-wrapper  {
            display: none;
         }
    }
    .mat-style {
        .mat-select-arrow-wrapper  {
            display: none;
         }
    }
    .instruct-search-blk  {
        .select-form {
            .form-select{
                display: flex;
                align-items: center;
            }
        }
      }
      .filepond--root {
        margin-bottom: 0px;
      }
      .filepond--root {
        .filepond--credits{
            display: none;
        }
        .filepond--drop-label {
            background-color: #fff;
        }
      }
      .filepond--drop-label{
        &.filepond--drop-label{
            label {
                font-size: 16px;
                color: #C4C4C4;
                margin-bottom: 0;
                font-weight: 400;
            }
        }
      } 
      .dropzone {
        min-height: 95px;
      }
      ngx-dropzone {
        height: 90px !important;
        border: none !important;
      }
      ngx-dropzone-image-preview {
        min-height: 92px !important;
        height: 92px !important;
      }
      .swiper-testimonial-three {
        .swiper {
            overflow: inherit;
        }
      }
      .settings-menu ul li a:hover,
      .settings-menu ul li a:focus {
        color: #303030;
      }
    @media (max-width: 991.98px) {
        .settings-top-widget .card {
            border-radius: 10px;
            text-align: center;
        }
    }
